<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asyhttpdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.asyhttpdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GetSample" >
        </activity>
        <activity android:name="PostSample" >
        </activity>
        <activity android:name="DeleteSample" >
        </activity>
        <activity android:name="PutSample" >
        </activity>
        <activity android:name="JsonSample" >
        </activity>
        <activity android:name="FileSample" >
        </activity>
        <activity android:name="BinarySample" >
        </activity>
        <activity android:name="ThreadingTimeoutSample" >
        </activity>
    </application>

</manifest>